<!DOCTYPE html>
<html>
<head>
  <title>Shopify</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-body">

<%= yield %>

<% flash.each do |message_type, message| %>
    <div class="popover marker-on-left bg-cyan fg-white <%= message_type %> " style="width: 20px; margin-left: 20px;"><%= message %>
    </div>
<% end %>
</body>
</html>
